name: Build
on:
  push:
    branches: [ develop, master, feat/* ]
  pull_request:
    branches: [ develop, master ]

jobs:
  build:
    strategy:
      matrix:
        jdk: [8, 11, 17]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ matrix.jdk }}
      - uses: gradle/gradle-build-action@v2
        with:
          arguments: build --scan

